@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}


.container {
    display: flex;
    background-color: black;
}

.right {
    width: 75vw;
    /* border: 2px solid red; */
    margin: 16px 0;
    max-height: 100vh;
    /* overflow: scroll; */
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    border-radius: 8px;
    margin-top: 5px;
    height: 11vh;
}


.header>* {
    padding: 20px;
}

.signUp {
    margin: 15px; 
    background-color: transparent; 
    border: 0; 
    color: rgb(156, 148, 148);
    cursor: pointer;

}

.signUp:hover{
    font-size: 15px;
    color: white;
}

.logIn{
    border-radius: 30px; 
    padding: 15px; 
    width: 90px;
    cursor: pointer;
}

.logIn:hover{
    font-weight: bold;
    font-size: 15px;
}


.spotifyPlaylist {
    padding: 16px;
    font-size: 13px;
}

.card {
    width: 170px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    /* margin: 20px; */
    position: relative;
}

.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 100px;
    left: 93px;
    opacity: 1;
    transition: all 1s ease-out;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(72, 151, 72);
    width: 95%;
    padding: 20px;
    height: 5vh;
}

.songButton{
    display: flex;
    justify-content: center;
    gap: 16px;
}


.left {
    width: 25vw;
    /* border: 2px solid red; */
    margin: 3px;
    padding: 10px;
    background-color: black;
    color: white;
}



.home {
    background-color: #121212;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    height: 15vh;
}

.logo {
    padding-top: 10px;
}

.home ul li {
    width: 20px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding-top: 15px;
}

.invert {
    filter: invert(1);
}

.library {
    background-color: #121212;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    height: 75vh;
    min-height: 50vh;
    position: relative;

    .heading {
        display: flex;
        width: 100%;
        gap: 15px;
        align-items: center;
        padding-top: 14px;
    }

    .heading img {
        width: 20px;
    }

    .footer {
        display: flex;
        gap: 13px;
        font-size: 10px;
        position: absolute;
        bottom: 0;
        padding-right: 10px;
        padding-bottom: 15px;
    }

    .footer a {
        color: grey;
    }

  
  