@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}


.container {
    display: flex;
    background-color: black;
}

.right {
    width: 75vw;
    /* border: 2px solid red; */
    margin: 16px 0;
    max-height: 100vh;
    /* overflow: scroll; */
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    border-radius: 8px;
    margin-top: 5px;
    height: 11vh;
}


.header>* {
    padding: 20px;
}

.signUp {
    margin: 15px;
    background-color: transparent;
    border: 0;
    color: rgb(156, 148, 148);
    cursor: pointer;

}

.signUp:hover {
    font-size: 15px;
    color: white;
}

.logIn {
    border-radius: 30px;
    padding: 15px;
    width: 90px;
    cursor: pointer;
}

.logIn:hover {
    font-weight: bold;
    font-size: 15px;
}


.spotifyPlaylist {
    padding: 16px;
    font-size: 13px;
}

.card {
    width: 170px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    /* margin: 20px; */
    position: relative;
}

.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    /* overflow-y: auto; */
}

.card>* {
    padding-top: 10px;
}

.card:hover{
    background-color: rgb(65, 61, 61);
    cursor: pointer;
    --a: 1;

}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 100px;
    left: 93px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.playbar {
    position: fixed;
    bottom: 5px;
    background-color: rgb(72, 151, 72);
    width: 69%;
    padding: 20px;
    min-height: 3vh;
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    /* margin: 1px 0; */
    width: 100%;
}

.songButton {
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
    padding-right: 258px;
}
.songinfo{
    color: black;
    width: 300px;
    font-size: 11px;
}

.songtime{
    color: black;
}

.seekbar{
    height: 4px;
    width: 96%;
    background:  black;
    position: absolute;
    bottom: 4px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;

}

.circle{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0s;
    cursor: pointer;
}


.left {
    width: 25vw;
    /* border: 2px solid red; */
    margin: 3px;
    padding: 10px;
    background-color: black;
    color: white;
}



.home {
    background-color: #121212;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    height: 15vh;
}

.logo {
    padding-top: 10px;
}

.home ul li {
    width: 20px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding-top: 15px;
}

.invert {
    filter: invert(1);
}

.library {
    background-color: #121212;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    height: 75vh;
    min-height: 50vh;
    position: relative;
}

.library .heading {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    padding-top: 14px;
}

.library .heading img {
    width: 20px;
}

.songList{
    height: 444px;
    overflow-x: auto;
    scrollbar-color: #121212 #313428; 
}


.library .songList ul {
    padding: 10px 0;
}

.library .songList li{
    list-style-type:decimal ;
    font-size: 15px;
    display: flex;
    gap: 34px;
    padding-top: 12px;
    border: 1px solid white;
    margin: 8px;
    padding: 10px;
    border-radius: 10px ;
    width: 266px;
    justify-content: space-between;
    width: 291px;
}

.info{
    font-size: 12px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    
}

.playnow span{
    padding: 4px;
    font-size: 10px;
}

.playnow img{
    cursor: pointer;
}

.playnow img:hover{
    width: 20px;
}

.library .footer {
    display: flex;
    gap: 13px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    padding-right: 10px;
    padding-bottom: 15px;
}

.library .footer a {
    color: grey;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hamburger{
    display: none;
    height: 30px;
    width: 30px;
}

.close{
    display: none;
    position: absolute;
    right: 25px;
    padding-top: 10px;
}


@media (max-width: 1400px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 380px;
        background-color: black;
    }

    .right{
        width: 100vw;
    }

    .playbar{
        width: 88vw;
    }

    .abovebar{
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .seekbar{
        width: 87vw;
    }

    .songButton{
        padding-left: 250px;
    }

    .songtime{
        /* position: absolute; */
        /* right: 0; */
        font-size: 14px;
        width: auto;
    }

    .songinfo{
        width: auto;

    }

    .hamburger{
       display: block; 
    }

    .close{
        display: block;
    }

    .cardContainer{
        justify-content: center;
    }

    .card{
        width: 70vw;
    }

  
  }
